<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="12 Days of Christmas ttds Test Suite">
            <directory suffix="Test.php">./tests/Days/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/Days/</directory>
        </whitelist>
    </filter>
</phpunit>